.body{
    background-image: url("https://i.ibb.co/484Pt2b/kids-nature-background.jpg");
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        }
        .mode-button {
            margin: 10px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
        }
        .mode-button:hover {
            background-color: #45a049;
        }
        .task-section {
            margin-top: 20px;
        }
        .task-img {
            width: 100px;
            height: 100px;
            margin: 10px;
            cursor: pointer;
        }

